@{
    ViewData["Title"] = "Privatlivspolitik";
}

<h1>Privatlivspolitik for Local Eyes-appen</h1>

<h2>Fortrolighedspolitik</h2>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>Sidst opdateret: 15. februar 2023</span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Denne privatlivspolitik beskriver vores
        politikker og procedurer for indsamling, brug og videregivelse af dine
        oplysninger, når du bruger tjenesten, og fortæller dig om dine
        privatlivsrettigheder, og hvordan loven beskytter dig.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vi bruger dine personlige data til at
        levere og forbedre tjenesten.&nbsp;Ved at bruge tjenesten accepterer du
        indsamling og brug af oplysninger i overensstemmelse med denne privatlivspolitik.
    </span>
</p>

<h2>Fortolkning og definitioner</h2>

<h3>Fortolkning</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        De ord, hvoraf det første bogstav er
        stort, har betydninger defineret under følgende betingelser.&nbsp;De følgende
        definitioner skal have samme betydning, uanset om de optræder i ental eller
        flertal.
    </span>
</p>

<h3>Definitioner</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>Med henblik på denne privatlivspolitik:</span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Konto</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;betyder en unik konto, der er
        oprettet for dig for at få adgang til vores tjeneste eller dele af vores
        tjeneste.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Tilknyttet selskab</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;betyder en enhed, der kontrollerer,
        kontrolleres af eller er under fælles kontrol med en part, hvor
        &quot;kontrol&quot; betyder ejerskab af 50 % eller mere af aktierne,
        kapitalandele eller andre værdipapirer, der er berettiget til at stemme til
        valg af bestyrelse eller anden administrerende myndighed.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Ansøgning</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;refererer til Local Eyes App, softwareprogrammet
        leveret af virksomheden.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Virksomhed</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;(benævnt enten
        &quot;virksomheden&quot;, &quot;vi&quot;, &quot;os&quot; eller
        &quot;vores&quot; i denne aftale) henviser til LOCAL EYES FONDET, Lille
        Istedgade 5 st.&nbsp;th., 1706 København V.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Land</span></b><span style='font-size:12.0pt;color:black'>&nbsp;henviser til: Danmark</span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Enhed</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;betyder enhver enhed, der kan få
        adgang til Tjenesten, såsom en computer, en mobiltelefon eller en digital
        tablet.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Persondata</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;er enhver information, der vedrører
        en identificeret eller identificerbar person.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Service</span></b><span style='font-size:12.0pt;color:black'>&nbsp;henviser til applikationen.</span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Tjenesteudbyder</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;betyder enhver fysisk eller juridisk
        person, der behandler dataene på vegne af virksomheden.&nbsp;Det refererer til
        tredjepartsvirksomheder eller enkeltpersoner, der er ansat af virksomheden for
        at facilitere Tjenesten, levere Tjenesten på vegne af Virksomheden, udføre
        tjenester relateret til Tjenesten eller hjælpe Virksomheden med at analysere,
        hvordan Tjenesten bruges.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Brugsdata</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;refererer til data, der indsamles
        automatisk, enten genereret af brugen af &#8203;&#8203;Tjenesten eller fra
        selve Tjenestens infrastruktur (f.eks. varigheden af &#8203;&#8203;et
        sidebesøg).
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Du</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;betyder den person, der tilgår eller
        bruger Tjenesten, eller den virksomhed eller anden juridisk enhed, på vegne af
        hvilken en sådan person har adgang til eller bruger Tjenesten, alt efter hvad
        der er relevant.
    </span>
</p>

<h2>Indsamling og brug af dine personlige data</h2>

<h3>Personlige data</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Mens vi bruger vores tjeneste, kan vi bede
        dig om at give os visse personligt identificerbare oplysninger, som kan bruges
        til at kontakte eller identificere dig.&nbsp;Personligt identificerbare
        oplysninger kan omfatte, men er ikke begrænset til:
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>Email adresse</span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>Telefonnummer</span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>Brugsdata</span>
</p>

<h3>Brugsdata</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Brugsdata indsamles automatisk, når du
        bruger tjenesten.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Brugsdata kan omfatte oplysninger såsom
        din enheds internetprotokoladresse (f.eks. IP-adresse), browsertype, browserversion,
        siderne i vores tjeneste, du besøger, tidspunktet og datoen for dit besøg,
        tiden brugt på disse sider, unik enhed identifikatorer og andre diagnostiske
        data.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Når du får adgang til tjenesten via eller
        via en mobilenhed, kan vi indsamle visse oplysninger automatisk, herunder, men
        ikke begrænset til, typen af &#8203;&#8203;mobilenhed, du bruger, din mobile
        enheds unikke id, IP-adressen på din mobilenhed, din mobil operativsystem,
        typen af &#8203;&#8203;mobil internetbrowser, du bruger, unikke
        enhedsidentifikatorer og andre diagnostiske data.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vi kan også indsamle oplysninger, som din
        browser sender, når du besøger vores tjeneste, eller når du får adgang til
        tjenesten via eller via en mobilenhed.
    </span>
</p>

<h3>Oplysninger indsamlet data under brug af applikationen</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Mens vi bruger vores applikation, for at
        levere funktioner i vores applikation, kan vi med din forudgående tilladelse
        indsamle:
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        Billeder og andre
        oplysninger fra din enheds kamera og fotobibliotek
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vi bruger disse oplysninger til at levere
        funktioner i vores tjeneste, til at forbedre og tilpasse vores
        tjeneste.&nbsp;Oplysningerne kan uploades til virksomhedens servere og/eller en
        tjenesteudbyders server, eller de kan simpelthen gemmes på din enhed.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Du kan til enhver tid aktivere eller
        deaktivere adgangen til disse oplysninger via indstillingerne for din enhed.
    </span>
</p>

<h3>Brug af dine personlige data</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Virksomheden kan bruge personlige data til
        følgende formål:
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            At levere og
            vedligeholde vores tjeneste
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;,
        herunder at overvåge brugen af &#8203;&#8203;vores tjeneste.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            For at administrere
            din konto:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;at administrere
        din registrering som bruger af tjenesten.&nbsp;De personlige data, du afgiver,
        kan give dig adgang til forskellige funktioner i tjenesten, som er tilgængelige
        for dig som registreret bruger.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            Til udførelse af en
            kontrakt:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;udvikling,
        overholdelse og gennemførelse af købskontrakten for de produkter, varer eller
        tjenester, du har købt, eller af enhver anden kontrakt med os gennem tjenesten.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            For at kontakte
            dig:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;For at kontakte
        dig via e-mail, telefonopkald, SMS eller andre tilsvarende former for elektronisk
        kommunikation, såsom en mobilapplikations push-meddelelser vedrørende
        opdateringer eller informativ kommunikation relateret til funktionerne,
        produkterne eller de aftalte tjenester, herunder sikkerhedsopdateringerne, når
        det er nødvendigt eller rimeligt for deres gennemførelse.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>For at give dig</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;nyheder, særlige tilbud og generel
        information om andre varer, tjenester og begivenheder, som vi tilbyder, der
        ligner dem, du allerede har købt eller spurgt om, medmindre du har valgt ikke
        at modtage sådanne oplysninger.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            Sådan administrerer
            du dine anmodninger:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;For
        at deltage og administrere dine anmodninger til os.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            For
            virksomhedsoverdragelser:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;Vi
        kan bruge dine oplysninger til at evaluere eller gennemføre en fusion, frasalg,
        omstrukturering, reorganisering, opløsning eller andet salg eller overdragelse
        af nogle eller alle vores aktiver, hvad enten det er som en going concern eller
        som en del af konkurs, likvidation, eller lignende procedure, hvor personlige
        data, som os opbevarer om vores tjenestebrugere, er blandt de overførte
        aktiver.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Til andre formål</span></b><span style='font-size:12.0pt;color:black'>
        : Vi kan bruge dine oplysninger til andre
        formål, såsom dataanalyse, identifikation af brugstendenser, bestemmelse af
        effektiviteten af &#8203;&#8203;vores salgsfremmende kampagner og til at
        evaluere og forbedre vores service, produkter, tjenester, markedsføring og din
        oplevelse.
    </span>
</p>

<p class=MsoNormal style='margin-bottom:0cm;line-height:normal;background:white'>
    <b>
        <span style='font-size:12.0pt;color:black'>
            Vi kan dele dine personlige oplysninger i
            følgende situationer:
        </span>
    </b>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            Med
            tjenesteudbydere:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;Vi
        kan dele dine personlige oplysninger med tjenesteudbydere for at overvåge og
        analysere brugen af &#8203;&#8203;vores tjeneste for at kontakte dig.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            For
            virksomhedsoverdragelser:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;Vi
        kan dele eller overføre dine personlige oplysninger i forbindelse med eller
        under forhandlinger om enhver fusion, salg af virksomhedens aktiver,
        finansiering eller overtagelse af hele eller en del af vores virksomhed til en
        anden virksomhed.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            Med associerede
            selskaber:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;Vi kan
        dele dine oplysninger med vores associerede selskaber, i hvilket tilfælde vi
        vil kræve, at disse associerede selskaber overholder denne
        fortrolighedspolitik.&nbsp;Tilknyttede selskaber omfatter vores moderselskab og
        alle andre datterselskaber, joint venture-partnere eller andre selskaber, som
        vi kontrollerer, eller som er under fælles kontrol med os.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b>
        <span style='font-size:12.0pt;color:black'>
            Med
            forretningspartnere:
        </span>
    </b><span style='font-size:12.0pt;color:black'>
        &nbsp;Vi
        kan dele dine oplysninger med vores forretningspartnere for at tilbyde dig
        visse produkter, tjenester eller kampagner.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Med andre brugere:</span></b><span style='font-size:12.0pt;color:black'>
        &nbsp;Når du deler personlige oplysninger
        eller på anden måde interagerer i de offentlige områder med andre brugere, kan
        sådanne oplysninger ses af alle brugere og kan distribueres offentligt udenfor.
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><b><span style='font-size:12.0pt;color:black'>Med dit samtykke</span></b><span style='font-size:12.0pt;color:black'>
        : Vi kan videregive dine personlige
        oplysninger til ethvert andet formål med dit samtykke.
    </span>
</p>

<h3>Opbevaring af dine personlige data</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Virksomheden opbevarer kun dine personlige
        data så længe det er nødvendigt for de formål, der er angivet i denne
        privatlivspolitik.&nbsp;Vi vil beholde og bruge dine personlige data i det
        omfang, det er nødvendigt for at overholde vores juridiske forpligtelser (for
        eksempel hvis vi er forpligtet til at opbevare dine data for at overholde
        gældende love), løse tvister og håndhæve vores juridiske aftaler og politikker.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Virksomheden vil også opbevare brugsdata
        til interne analyseformål.&nbsp;Brugsdata opbevares generelt i en kortere
        periode, undtagen når disse data bruges til at styrke sikkerheden eller til at
        forbedre funktionaliteten af &#8203;&#8203;vores tjeneste, eller vi er juridisk
        forpligtet til at opbevare disse data i længere perioder.
    </span>
</p>

<h3>Overførsel af dine personlige data</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Dine oplysninger, herunder personoplysninger,
        behandles på virksomhedens driftskontorer og andre steder, hvor de parter, der
        er involveret i behandlingen, befinder sig.&nbsp;Det betyder, at disse
        oplysninger kan overføres til - og vedligeholdes på - computere, der er
        placeret uden for din stat, provins, land eller anden statslig jurisdiktion,
        hvor databeskyttelseslovene kan afvige fra dem fra din jurisdiktion.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Dit samtykke til denne
        fortrolighedspolitik efterfulgt af din indsendelse af sådanne oplysninger
        repræsenterer din accept af denne overførsel.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Virksomheden vil tage alle nødvendige
        skridt for at sikre, at dine data behandles sikkert og i overensstemmelse med
        denne privatlivspolitik, og ingen overførsel af dine personlige data vil finde
        sted til en organisation eller et land, medmindre der er tilstrækkelig kontrol
        på plads, herunder sikkerheden af Dine data og andre personlige oplysninger.
    </span>
</p>

<h3>Slet dine personlige data</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Du har ret til at slette eller anmode om,
        at vi hjælper med at slette de personoplysninger, som vi har indsamlet om dig.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Du kan til enhver tid opdatere, ændre
        eller slette dine oplysninger ved at logge ind på din konto, hvis du har en, og
        besøge afsnittet med kontoindstillinger, der giver dig mulighed for at
        administrere dine personlige oplysninger.&nbsp;Du kan også kontakte os for at anmode
        om adgang til, rette eller slette alle personlige oplysninger, som du har givet
        os.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Bemærk dog, at vi muligvis skal opbevare
        visse oplysninger, når vi har en juridisk forpligtelse eller et lovligt
        grundlag for at gøre det.
    </span>
</p>

<h2>Videregivelse af dine personlige data</h2>

<h3>Forretningstransaktioner</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Hvis virksomheden er involveret i en
        fusion, opkøb eller salg af aktiver, kan dine personoplysninger blive
        overført.&nbsp;Vi giver besked, før dine personlige data overføres og bliver
        underlagt en anden privatlivspolitik.
    </span>
</p>

<h3>Retshåndhævelse</h3>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Under visse omstændigheder kan
        virksomheden være forpligtet til at videregive dine personlige data, hvis det
        er påkrævet i henhold til loven eller som svar på gyldige anmodninger fra
        offentlige myndigheder (f.eks. en domstol eller et statsligt organ).
    </span>
</p>

<h3>Andre lovkrav</h3>

<p class=MsoNormal style='margin-bottom:0cm;line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Virksomheden kan videregive dine
        personlige data i god tro, at en sådan handling er nødvendig for at:
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        Overhold en juridisk
        forpligtelse
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        Beskyt og forsvar
        virksomhedens rettigheder eller ejendom
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        Forebyg eller undersøg
        mulige forseelser i forbindelse med Tjenesten
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        Beskyt den personlige
        sikkerhed for brugere af tjenesten eller offentligheden
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        Beskyt mod juridisk
        ansvar
    </span>
</p>

<h2>Sikkerhed for dine personlige data</h2>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Sikkerheden af &#8203;&#8203;dine
        personlige data er vigtig for os, men husk, at ingen metode til transmission
        over internettet eller elektronisk lagring er 100 % sikker.&nbsp;Selvom vi
        stræber efter at bruge kommercielt acceptable midler til at beskytte dine
        personlige data, kan vi ikke garantere deres absolutte sikkerhed.
    </span>
</p>

<h2>Børns privatliv</h2>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vores tjeneste henvender sig ikke til
        nogen under 13 år. Vi indsamler ikke bevidst personligt identificerbare
        oplysninger fra nogen under 13 år. Hvis du er forælder eller værge, og du er
        klar over, at dit barn har givet os personlige data, bedes du venligst kontakt
        os.&nbsp;Hvis vi bliver opmærksomme på, at vi har indsamlet personlige data fra
        nogen under 13 år uden bekræftelse af forældrenes samtykke, tager vi skridt til
        at fjerne disse oplysninger fra vores servere.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Hvis vi er nødt til at stole på samtykke
        som et juridisk grundlag for at behandle dine oplysninger, og dit land kræver
        samtykke fra en forælder, kan vi kræve din forælders samtykke, før vi indsamler
        og bruger disse oplysninger.
    </span>
</p>

<h2>Links til andre websteder</h2>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vores service kan indeholde links til
        andre websteder, der ikke drives af os.&nbsp;Hvis du klikker på et
        tredjepartslink, vil du blive dirigeret til denne tredjeparts websted.&nbsp;Vi
        anbefaler dig på det kraftigste at gennemgå fortrolighedspolitikken for hvert
        websted, du besøger.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vi har ingen kontrol over og påtager os
        intet ansvar for indholdet, privatlivspolitikker eller praksis på nogen
        tredjeparts websteder eller tjenester.
    </span>
</p>

<h2>Ændringer i denne privatlivspolitik</h2>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vi kan opdatere vores privatlivspolitik
        fra tid til anden.&nbsp;Vi vil underrette dig om eventuelle ændringer ved at
        offentliggøre den nye privatlivspolitik på denne side.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Vi giver dig besked via e-mail og/eller en
        fremtrædende meddelelse om vores tjeneste, før ændringen træder i kraft, og
        opdaterer datoen for &quot;Sidst opdateret&quot; øverst i denne
        privatlivspolitik.
    </span>
</p>

<p class=MsoNormal style='line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Du rådes til at gennemgå denne
        fortrolighedspolitik med jævne mellemrum for eventuelle
        ændringer.&nbsp;Ændringer til denne privatlivspolitik træder i kraft, når de
        offentliggøres på denne side.
    </span>
</p>

<h2>Kontakt os</h2>

<p class=MsoNormal style='margin-bottom:0cm;line-height:normal;background:white'>
    <span style='font-size:12.0pt;color:black'>
        Hvis du har spørgsmål om denne
        privatlivspolitik, kan du kontakte os:
    </span>
</p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
normal;background:white'>
    <span style='font-size:10.0pt;font-family:Symbol;
color:black'>
        ·<span style='font:7.0pt "Times New Roman"'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span><span style='font-size:12.0pt;color:black'>
        På
        mail:&nbsp;localeyes@localeyes.dk
    </span>
</p>
