@model LocalEyesWebAPI.Models.PushoverSenderAPIModel

@{
    ViewData["Title"] = "Rediger Pushover API";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PushoverSenderAPIID" />
            <div class="form-group">
                <label asp-for="PushoverSenderName" class="control-label"></label>
                <input asp-for="PushoverSenderName" class="form-control" />
                <span asp-validation-for="PushoverSenderName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PushoverSenderAPIKey" class="control-label"></label>
                <input asp-for="PushoverSenderAPIKey" class="form-control" />
                <span asp-validation-for="PushoverSenderAPIKey" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Gem Ændringer" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Fortryd</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
